body {
  text-align: center;
  margin: 8px;
}

#mainHeading{
  color: red
}

.doge{
  text-align: center;

}

.puppy{
  text-align: center;
}

.funParagraph{
  color: green;
}
#samot{
  text-align: center;
}

#kaiju{
  text-align: center
}



